@use "../abstracts/" as a;

.card {
  background-color: var(--card-bg-color);
  padding: calc(var(--base-padding, 0.5em) * 3);
  box-shadow: 0 5px 20px -8px hsl(0deg, 0%, 0%, 0.4);
  border-radius: calc(var(--base-border-radius, 20px) * 0.15);
  animation: 2000ms animate-card ease-out 100ms;

  @keyframes animate-card {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__color--window {
    --color-window-width: 250px;
    --color-window-ht: 100px;
    width: var(--color-window-width, 250px);
    height: var(--color-window-ht, 100px);
    border: 1px solid hsl(0deg, 0%, 85%);
    background-color: hsl(60deg, 100%, 50%);
  }

  @include a.breakpoint(large) {
    & {
      flex-direction: row !important;
    }
    &__color--window {
      --color-window-ht: 250px;
    }
  }
  @media (orientation: landscape) and (max-width: 48em) {
    & {
      flex-direction: row !important;
    }
    &__color--window {
      --color-window-ht: 200px;
    }
  }
}
.color__field--wrapper {
  label {
    font-size: calc(var(--base-font-size, 1rem) * 1.3);
    font-style: italic;
    font-weight: var(--font-wt-medium, 500);
    color: hsl(0deg, 0%, 55%);
  }

  [type="text"] {
    background-color: hsl(0deg, 0%, 90%);
    padding: calc(var(--base-padding) * 0.7) calc(var(--base-padding) * 0.8);
    font-size: calc(var(--base-font-size, 1rem) * 1.05);
    font-family: inherit;
    color: hsl(220deg, 10%, 35%);
    border: none;

    &::placeholder {
      opacity: 0.4;
    }
  }
}

.color__value--box {
  h3 {
    color: var(--heading-color);
    font-size: calc(var(--base-font-size, 1rem) * 1.3);
    text-transform: capitalize;
    font-style: italic;
  }
  h4 {
    --h4-inline-size: 200px;
    color: hsl(0deg, 0%, 55%);
    font-weight: var(--font-wt-semi, 600);
    width: var(--h4-inline-size, 200px);
    background-color: hsl(0 0% 94%);
    padding: calc(var(--base-padding, 0.5em) * 0.5);

    @include a.breakpoint(large) {
      --h4-inline-size: 235px;
    }
  }
}
