$justify: "flex-start", "flex-end", "center", "space-between";
$alignments: "flex-start", "flex-end", "center", "stretch";

.flex {
  display: flex;
  flex-wrap: wrap;

  &-column {
    flex-direction: column;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}

@each $align in $alignments {
  .align-#{$align} {
    align-items: #{$align};
  }
}
@each $just in $justify {
  .justify-#{$just} {
    justify-content: #{$just};
  }
}

@for $i from 1 through 6 {
  .gap-#{$i} {
    gap: calc(var(--base-gap) * #{$i});
  }
}
